.header__lang-link {
  font-size: 24px;
  line-height: 1.15;
  list-style: none;
  margin: 0;
}

.header__lang-link:first-child {
  padding: 0 18px 0 0;
}


@media (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.33;
  }
}
