@import url(./__container/page_container.css);
@import url(./__header/page__header.css);

.page {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  background-color:  #2a2c2f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
