.cover__titles {
  width: 560px;
  height: 250px;
  z-index: 1;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-280px, -125px);
}

@media (max-width:623px) {
  .cover__titles {
    width: 288px;
    height: 134px;
    transform: translate(-144px, -67px);
  }
}